<ul class="topnav">
  <li><a class="active" href="https://petrifiedvoices.github.io/stroyno-inscriptions/">Home</a></li>
  <li><a href="https://petrifiedvoices.github.io/stroyno-inscriptions/html/Boyanov2007_1.html">Fig. 0</a></li>
  <li><a href="https://petrifiedvoices.github.io/stroyno-inscriptions/html/Hermankova2020_1.html">1</a></li>
  <li><a href="https://petrifiedvoices.github.io/stroyno-inscriptions/html/Hermankova2020_2.html">2</a></li>
  <li><a href="https://petrifiedvoices.github.io/stroyno-inscriptions/html/Hermankova2020_3.html">3</a></li>
  <li><a href="https://petrifiedvoices.github.io/stroyno-inscriptions/html/Hermankova2020_4.html">4</a></li>
  <li><a href="https://petrifiedvoices.github.io/stroyno-inscriptions/html/Hermankova2020_5.html">5</a></li>
  <li><a href="https://petrifiedvoices.github.io/stroyno-inscriptions/html/Hermankova2020_6_a.html">6a</a></li>
  <li><a href="https://petrifiedvoices.github.io/stroyno-inscriptions/html/Hermankova2020_6_b.html">6b</a></li>
  <li><a href="https://petrifiedvoices.github.io/stroyno-inscriptions/html/Hermankova2020_6_c.html">6c</a></li>
  <li><a href="https://petrifiedvoices.github.io/stroyno-inscriptions/html/Hermankova2020_6_d.html">6d</a></li>
  <li><a href="https://petrifiedvoices.github.io/stroyno-inscriptions/html/Hermankova2020_6_e.html">6e</a></li>
  <li class="right"><a href="https://orcid.org/0000-0002-6349-0540">About author</a></li>
  <li class="right"><a href="https://github.com/petrifiedvoices/stroyno-inscriptions">Github</a></li>
</ul>
