body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}

img {
    max-width: 100%;
  }

  h1,
  h2,
  h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
    margin: 60px;
  }

  p {
    margin-bottom: 1em;
    margin: 50px;
  }

  ul {
  margin: 50px;
  }

