body {
  padding: 2;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin: 50px;
}

img {
    max-width: 100%;
    border: 1px solid #159957;
  }

  h1,
  h2,
  h3
  {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;
    color: #159957;
  }
  
  h4,
  h5,
  h6 {
  color:#000000;
  }

  p {
    margin: 0;
  }
  
  ul {
  	margin: 30px;
  }

  hr {
	color: #159957;
	width: 100%;
	align-self: left;
	height: 1px;
    background-color: #159957;
    border: none;
    align-items: left;
  }


